.title {
    position: absolute;
    bottom: 21vh;
    right: 50%;
    transform: translateX(50%);
}

#header {
    .navbar-nav {
        .dropdown-toggle, .nav-special {
            color: $white !important;

			&:hover, &:focus {
				border-bottom-color: $white;
			}
        }

        .dropdown-menu {
            background-color: $base-color;

            a {
                color: $white !important;
                transition: all 0.3s ease;

                &:hover {
                    color: $base-color !important;
                }
            }

            .active {
                background-color: $white;
                color: $base-color !important;
            }
        }
    }
}

#member-row {
    .col-xxl-2 {
        @media all and (min-width: 1200px) {
            -webkit-box-flex: 0;
            flex: 0 0 20%;
            max-width: 20%;
        }

        @media all and (min-width: 1500px) {
            -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
    }

    .member-photo {
        width: 90%;
        position: relative;
        border-radius: 50%;

        background: {
            size: cover;
            position: center;
            repeat: no-repeat;
        }

        &::after {
            content: "";
            display: block;
            height: 0;
            padding-bottom: 100%;
        }
    }

    .card {
        height: calc(100% - 1rem);

        .area-badge {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;

            & > svg {
                filter: drop-shadow(0 0 0.5px #CCC);
            }

            &.tcap {
                color: $base-color;

            }

            &.acap {
                color: $accent-color;

                & > svg {
                    filter: drop-shadow(0 0 0.5px #000);
                }
            }
        }

        .social a {
            color: black;

            &:hover {
                color: lighten(black, 30%);
            }
        }

        .card-hover {
            background-color: rgba(255,255,255,0.9);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.5s ease;
            text-align: left;
            z-index: 11;

            &:hover {
                opacity: 1;
            }
        }
    }
}
