{% load staticfiles %}

<section id="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <h5>Contato:</h5>
                <p class="py-2"><i class="fas fa-envelope"></i>&nbsp;<span>contato@thunderatz.org</span><br>
                <i class="fas fa-phone"></i>&nbsp;<span>+55 11 98734-2476</span><br>
                <i class="fas fa-phone"></i>&nbsp;<span>+55 11 99322-2456</span></p>

                <h5>Membro Oficial</h5>
                <a target="_blank" href="//gearpoli.com.br">
                    <div class="pt-2 pb-3"><img src="{% static 'landing/img/gear_logo.svg' %}" height="50px"></div>
                </a>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <h5>Social:</h5>
                <div class="row justify-content-between pt-3 pb-4 social">
                    <a class="col text-center" href="http://fb.com/thunderatz"><i class="fab fa-facebook-square fa-2x"></i></a>
                    <a class="col text-center" href="http://youtube.com/thunderatz"><i class="fab fa-youtube fa-2x"></i></a>
                    <a class="col text-center" href="http://instagram.com/thunderatz"><i class="fab fa-instagram fa-2x"></i></a>
                    <a class="col text-center" href="http://github.com/thunderatz"><i class="fab fa-github fa-2x"></i></a>
                </div>
                <h5>Endere&ccedil;o:</h5>
                <p class="py-2">Av. Professor Mello Moraes, 2231<br>
                CEP: 05508-030<br>
                São Paulo, SP<br></p>
            </div>

            <div class="col-12 col-lg-6">
                <div id="map"></div>
                <script src="{% static 'landing/js/map.js' %}"></script>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIQMoNq6AoioZjLDNeb5ltulkzlXx6cI0&callback=initMap">
                </script>
            </div>
        </div>

        <div class="footer-lower">
            <div class="line"></div>
            <div class="text-center">&copy; 2018 Equipe ThundeRatz de Rob&oacute;tica</div>
            <div class="text-center">See this site on <a href="https://github.com/ThundeRatz/ThunderSite"><i class="fab fa-github"></i> GitHub</a>!</div>
        </div>
    </div>
</section>
