.carousel-img-div {
    padding-bottom: 43.75%;
    background-size: cover;
    background-position: center;
}

.list-img-div {
    height: 0;
    padding-bottom: 66.67%;
    background-size: cover;
    background-position: center;
}
