{% extends 'generic/base.html' %}

{% load staticfiles %}

{% block title_block %} ThundeRatz {% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.fullPage.css' %}">
<link rel="stylesheet" type="text/x-sass" href="{% static 'landing/.scss/landing.scss' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'landing/js/vivus.min.js' %}"></script>
<script src="{% static 'landing/js/jquery.fullPage.js' %}"></script>
<script src="{% static 'landing/js/timeline.js' %}"></script>

<script src="{% static 'landing/js/landing.js' %}"></script>
{% endblock %}
