{% extends 'landing/base.html' %}

{% load staticfiles %}

{% block body_block %}
    <nav id="header" class="navbar navbar-expand-lg navbar-fixed-top navbar-light">
        <img class="navbar-brand" src="{% static 'landing/img/logo.svg' %}" height="40px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: yellow">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto">
                <a id="menu2" class="nav-item nav-link">Not&iacute;cias</a>
                <a id="menu3" class="nav-item nav-link">A Equipe</a>
                <a id="menu4" class="nav-item nav-link">Projetos</a>
                <a id="menu5" class="nav-item nav-link">Amigos da Thunder</a>
                <a id="menu6" class="nav-item nav-link">Patrocinadores</a>
                <a id="menu7" class="nav-item nav-link">Contato</a>
            </div>
        </div>
    </nav>

    <div id="fullpage">

        <section class="section text-center" id="section-home">
            {% include 'landing/section_home.html' %}
        </section>

        <section class="section text-center" id="section-lastnews">
            {% include 'landing/section_lastnews.html' %}
        </section>

        <section class="section fp-auto-height-responsive" id="section-team">
            <section class="slide" id="section-about">
                {% include 'landing/section_about.html' %}
            </section>

            <section class="slide" id="section-workshop">
                {% include 'landing/section_workshop.html' %}
            </section>

            {% comment %} <section class="slide" id="section-timeline">
                {% include 'landing/section_timeline.html' %}
            </section> {% endcomment %}
        </section>

        <section class="section text-center" id="section-projects">
            {% include 'landing/section_projects.html' %}
        </section>

        <section class="section text-center" id="section-adt">
            {% include 'landing/section_adt.html' %}
        </section>

        <section class="section text-center" id="section-sponsors">
            {% include 'landing/section_sponsors.html' %}
        </section>

        <footer class="section fp-auto-height">
            {% include 'generic/footer.html' %}
        </footer>
    </div>
{% endblock %}
