{% load staticfiles %}

<div id="adt" class="">
    <div class="row no-gutters justify-content-end">
        <div id="adt-buttons" class="d-flex flex-column col-12 col-md-7 order-2 order-md-1 justify-content-center">
            <div id="doacoes" class="d-flex flex-column text-center justify-content-center">
                <div>
                    <img class="mx-auto img-fluid" src="{% static 'landing/img/thor_joinha.png' %}" alt="">
                </div>
                <div>
                    <img class="mx-auto img-fluid" src="{% static 'landing/img/thunder_longe.png' %}" alt="">
                </div>
            </div>
            <div id="doacoes-any" class="d-flex flex-column text-center justify-content-center">
                <a href="https://nubank.com.br/pagar/1do4v/AKsGnbP7pJ" target="_blank" id="doe1">
                    <div style="font-weight: 500;">Contribua com qualquer valor!</div>
                    <div style="font-size: 1.5rem;">
                        clicando aqui: <img src="{% static 'landing/img/pix-logo.png' %}" class="col-6 col-md-2" alt="">
                    </div>
                </a>
            </div>
            <div id="doacoes-imgs" class="">
                <!-- GIFzão -->
                <img class="img-fluid" src="{% static 'landing/img/thor_coin.gif' %}" alt="">
            </div>
        </div>
        <div id="adt-info"
            class="d-flex flex-column justify-content-around col-12 col-md-5 order-1 order-md-2 pr-0 pr-md-5">
            <div id="adt-logo">
                <img src="{% static 'landing/img/logo_adt.png' %}" alt="" class="img-fluid">
            </div>
            <div id="adt-progress" class="container">
                <div id="adt-meta" class="d-flex flex-column text-center justify-content-center">
                    Meta: R$ {{thunder_donations.maximum_value}},00 <br>
                    Arrecadado: R$ {{thunder_donations.current_value}},00
                </div>
                <progress id="progress-bar" class="col-12 col-md-10" value="{{thunder_donations.current_value}}"
                    max="{{thunder_donations.maximum_value}}"> </progress>
            </div>
            <div id="adt-description" class="d-flex flex-column text-center justify-content-center">
                A iniciativa ThunderDoações foi criada como forma de conectar ex-membros,
                familiares e todos que tenham interesse nos trabalhos desenvolvidas pela ThundeRatz.

                A fim de potencializar os projetos e a participação da equipe
                em competições, foi criado um canal para receber doações únicas.

                Todo dinheiro arrecadado será destinado para viabilizar a participação da equipe
                na
                <a href="https://www.robocoreexperience.com/" target="_blank">
                    <img src="{% static 'landing/img/logo_RC_experience1.webp'%}" class="col-12 col-md-5" alt="">
                </a>
            </div>
        </div>
    </div>
</div>