{% load staticfiles %}

<div id="projects-index">
    <div class="row no-gutters justify-content-end">
        <a id="card-combate" class="col-12 col-md-6" href="{% url 'projects:index' %}">
            <h3 class="d-flex flex-column flex-nowrap justify-content-center">Rob&ocirc;s</h3>
        </a>
        <a id="card-sumo" class="col-12 col-md-6" href="{% url 'projects:index' %}">
            <h3 class="d-flex flex-column flex-nowrap justify-content-center">Placas</h3>
        </a>
        <!-- <a id="card-auto" class="col-sm-12 col-md-3" href="{% url 'projects:index' %}?cat=autonomo">
            <h3 class="d-flex flex-column flex-nowrap justify-content-center">Aut&ocirc;nomos</h3>
        </a>
        <a id="card-hockey" class="col-sm-12 col-md-3" href="{% url 'projects:index' %}?cat=hockey">
            <h3 class="d-flex flex-column flex-nowrap justify-content-center">Hockeys</h3>
        </a> -->
    </div>
</div>
