{% load staticfiles %}

<div id="adt">
    <div class="row no-gutters justify-content-end">
        <div id="adt-info" class="d-flex flex-column col-12 col-md-7 justify-content-center">
            <div id="doacoes" class="d-flex flex-column text-center justify-content-center">
                <div id="doe1">
                    <div></div>
                </div>
                <div id="doe2">
                    <div></div>
                </div>
                <div id="doe3">
                    <div></div>
                </div>
            </div>
            <div id="doacoes-imgs" class="d-flex flex-column text-center justify-content-center">
                sdahfguyaidufh
            </div>
            <!-- <div class="col-6 d-flex flex-column text-center justify-content-center">
                <div class="d-flex flex-column text-center justify-content-center">
                    Para doar 20000 reais disque 0800-5003-1010
                </div>
            </div>
            <div class="col-6 d-flex flex-column text-center justify-content-center">
                <div class="d-flex flex-column text-center justify-content-center">
                    Para doar 20000 reais disque 0800-5003-1010
                </div>
            </div>
            <div class="col-6 d-flex flex-column text-center justify-content-center">
                <div class="d-flex flex-column text-center justify-content-center">
                    Para doar 20000 reais disque 0800-5003-1010
                </div>
            </div>
            <div class="col-6 d-flex flex-column text-center justify-content-center">
                <div class="d-flex flex-column text-center justify-content-center">
                    Para doar 20000 reais disque 0800-5003-1010
                </div>
            </div> -->
        </div>
        <div id="adt-buttons" class="d-flex flex-column no-gutters col-12 col-md-5 pr-5">
            <div class="py-5 d-flex flex-column text-center justify-content-center">
                <img src="{% static 'landing/img/testetop.png' %}" alt="" class="img-responsive">
            </div>
            <div class="d-flex flex-column text-center justify-content-center h-100">
                Doa aí pq somos legais e bacanas
            </div>
        </div>
    </div>
</div>
