{% load staticfiles %}

{% comment %} <div id="flex-footer" class="d-flex flex-column flex-nowrap text-center align-items-stretch justify">
    <div id="flex-footer-1" class="d-flex flex-row flex-wrap justify-content-between text-left">
        <div class="contato">
            <h5>Contato:</h5>
            <i class="fas fa-envelope"></i>&nbsp;<span>contato@thunderatz.org</span><br>
            <i class="fas fa-phone"></i>&nbsp;<span>+55 11 97338-8419</span><br>
            <div class="social">
                <a href="#"><i class="fab fa-facebook-square fa-lg"></i></a>
                <a href="#"><i class="fab fa-youtube fa-lg"></i></a>
                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fab fa-github fa-lg"></i></a>
            </div>
        </div>
        <div class="endereco">
            <h5>Endere&ccedil;o:</h5>
            Av. Professor Mello Moraes, 2231<br>
            CEP: 05508-030<br>
            São Paulo, SP<br>
        </div>
        <div class="apoio align-right">
            <!-- <h5>Apoio:</h5><br> -->
            <img src="{% static 'landing/img/gear_logo.svg' %}" height="50px">
        </div>
    </div>
    <div>
        <div class="line"></div>
        <div class="footer">&copy; 2018 ThundeRatz</footer>
    </div>
</div> {% endcomment %}

<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-3">
            <h5>Contato:</h5>
            <p class="py-2"><i class="fas fa-envelope"></i>&nbsp;<span>contato@thunderatz.org</span><br>
            <i class="fas fa-phone"></i>&nbsp;<span>+55 11 97338-8419</span></p>

            <h5>Endere&ccedil;o:</h5>
            <p class="py-2">Av. Professor Mello Moraes, 2231<br>
            CEP: 05508-030<br>
            São Paulo, SP<br></p>
        </div>

        <div class="col-12 col-md-3">
            <h5>Social:</h5>
            <div class="row justify-content-between pt-3 pb-4 social">
                <a class="col text-center" href="http://fb.com/thunderatz"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a class="col text-center" href="http://youtube.com/thunderatz"><i class="fab fa-youtube fa-2x"></i></a>
                <a class="col text-center" href="http://instagram.com/thunderatz"><i class="fab fa-instagram fa-2x"></i></a>
                <a class="col text-center" href="http://github.com/thunderatz"><i class="fab fa-github fa-2x"></i></a>
            </div>
            <h5>Apoio:</h5>
            <div class="pt-2 pb-3"><img src="{% static 'landing/img/gear_logo.svg' %}" height="50px"></div>
        </div>

        <div class="col-12 col-md-6">
            <div id="map"></div>
            <script src="{% static 'landing/js/map.js' %}"></script>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIQMoNq6AoioZjLDNeb5ltulkzlXx6cI0&callback=initMap">
            </script>
        </div>
    </div>

    <div class="footer-lower">
        <div class="line"></div>
        <div class="text-center">&copy; 2018 ThundeRatz</div>
    </div>

</div>
