{% load staticfiles %}

<div id="sponsors" class="d-flex flex-column flex-nowrap justify-content-end">
    <div><h1 class="h1-responsive mt-5 mb-0">Patrocinadores</h1></div>
    <div id="sponsors-gold-w1" class="d-flex flex-column flex-nowrap justify-content-center">
        <div id="sponsors-gold-w2">
            {% for sponsor in sponsors %}
                {% if sponsor.quota.name == 'Ouro' %}
                <div>
                    <a target="_blank" href="{{ sponsor.website }}"><div style="background-image: url({{ sponsor.logo.url }})"></div></a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="sponsors-silver-w1" class="d-flex flex-column flex-nowrap justify-content-center">
        <div id="sponsors-silver-w2">
            {% for sponsor in sponsors %}
                {% if sponsor.quota.name == 'Prata' %}
                <div>
                    <a target="_blank" href="{{ sponsor.website }}"><div style="background-image: url({{ sponsor.logo.url }})"></div></a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="sponsors-bronze-w1" class="d-flex flex-column flex-nowrap justify-content-center">
        <div id="sponsors-bronze-w2">
            {% for sponsor in sponsors %}
                {% if sponsor.quota.name == 'Bronze' %}
                <div>
                    <a target="_blank" href="{{ sponsor.website }}"><div style="background-image: url({{ sponsor.logo.url }})"></div></a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
