{% load staticfiles %}

<div id="projects-index">
    <div class="row no-gutters justify-content-end">
        <a id="card-robots" class="col-12 col-md-6" href="{% url 'projects:robots' %}">
            <h3 class="d-flex flex-column flex-nowrap justify-content-center">Rob&ocirc;s</h3>
        </a>
        <a id="card-boards" class="col-12 col-md-6" href="{% url 'projects:boards' %}">
            <h3 class="d-flex flex-column flex-nowrap justify-content-center">Eletr&ocirc;nicas</h3>
        </a>
    </div>
</div>
