#project-detail {
    .top {
        z-index: 2;
        border-radius: 4px;

        .top-image {
            height: 500px;
            width: 100%;

            background: {
                size: cover;
                position: center;
            }
        }
    }

    .typography {
        position: absolute;
        bottom: 21vh;
        right: 50%;
        transform: translateX(50%);
        max-width: 90%;
        max-height: 50%;
    }

    .content {
        position: relative;
        background-color: white;
        z-index: 3;
        margin-top: -20vh;
        margin-bottom: -20vh;

        .navbar {
            box-shadow: none;
            background-color: $base-color;
        }

        #left-info {
            position: sticky;
            top: 1rem;
        }

        .thumbnail, .logo {
            width: 90%;
            position: relative;
            border-radius: 2px;


            background: {
                size: contain;
                position: center;
                repeat: no-repeat;
            }

            &::after {
                content: "";
                display: block;
                height: 0;
            }
        }

        .thumbnail::after {
            padding-bottom: 80%;
        }

        .logo::after {
            padding-bottom: 40%;
        }

        #project-images-w1 {
            width: 90%;

            #project-images-w2 {
                .slick-slide {
                    div {
                        margin: 0 1rem;
                        position: relative;
                        border-radius: 2px;

                        &::after {
                            content: "";
                            display: block;
                            padding-bottom: 80%;
                            height: 0;
                        }

                        background: {
                            position: center;
                            size: cover;
                            repeat: no-repeat;
                        }
                    }
                }
            }
        }

        .slick-arrow::before, .slick-arrow::after {
            color: $base-color;
        }
    }

    #footer {
        position: relative;
        padding-top: 20vh;
        z-index: 2;
    }
}
