#header {
    .navbar-nav {
        .dropdown-toggle, .nav-special {
            color: $white !important;

			&:hover, &:focus {
				border-bottom-color: $white;
			}
        }

        .dropdown-menu {
            background-color: $base-color;

            a {
                color: $white !important;
                transition: all 0.3s ease;

                &:hover {
                    color: $base-color !important;
                }
            }

            .active {
                background-color: $white;
                color: $base-color !important;
            }
        }
    }
}

#project_list {

    .content {
        position: relative;
        background-color: white;
        z-index: 3;
        margin-top: -30vh;

        @media all and (max-width: 1200px) {
            margin-top: -25vh;
        }

        @media all and (max-width: 992px) {
            margin-top: -15vh;
        }

        @media all and (max-width: 768px) {
            margin-top: -5vh;
        }

        @media all and (max-width: 576px) {
            margin-top: -2vh;
        }
    }


}

.title {
    position: absolute;
    bottom: 31vh;
    right: 50%;
    transform: translateX(50%);

    @media all and (max-width: 1200px) {
        bottom: 26vh;
    }

    @media all and (max-width: 992px) {
        bottom: 16vh;
    }

    @media all and (max-width: 768px) {
        bottom: 6vh;
    }

    @media all and (max-width: 576px) {
        bottom: 3vh;
    }
}

.card-img {
    position: relative;

    background: {
        position: center;
        size: cover;
        repeat: no-repeat;
        color: white;
    }

    &::after {
        content: "";
        display: block;
        padding-bottom: 75%;
        height: 0;
    }
}

.card-img-overlay {
    transition: background-color 0.3s ease;
    // background-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);

    .card-title {
        color: white;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);

        .surprise {
            opacity: 1;
        }
    }

    .surprise {
        transition: opacity 0.3s ease;
        opacity: 0;

        &.btn {
            background-color: $base-color;
            color: white;
        }
    }
}
