$base-color: #161843;
$accent-color: #F7E901;
$white: #FFFFFF;

.custom-scroll {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: lighten($base-color, 5%);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
}

#project-body {
    .top {
        z-index: 2;
        border-radius: 4px;

        .top-image {
            height: 500px;
            width: 100%;

            background: {
                size: cover;
                position: center;
            }
        }
    }

    .content {
        position: relative;
        background-color: white;
        z-index: 3;
        margin-top: -20vh;
        margin-bottom: -20vh;

        .navbar {
            box-shadow: none;
            background-color: $base-color;
        }
    }

    #footer {
        position: relative;
        padding-top: 20vh;
        z-index: 2;
    }
}

@import 'list';
@import 'detail';
