{% extends 'members/members_base.html' %}
{% load staticfiles %}

{% block title_block %}ThundeRatz | Membros{% endblock %}

{% block top_image_block %}{% static 'members/img/cover.jpg' %}{% endblock %}
{% block top_title_block %}<h1 class="title white-text">Membros</h1>{% endblock %}

{% block nav_block %}
<li class="nav-item">
    <a href="{% url 'landing:index' %}" class="nav-special nav-link">Início</a>
</li>
<li class="nav-item">
    <a href="{% url 'news:news_list' %}" class="nav-special nav-link">Notícias</a>
</li>
<li class="nav-item">
    <a href="{% url 'projects:robots' %}" class="nav-special nav-link">Projetos</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="areasMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Áreas
    </a>
    <div id="areas-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="areasMenu">
        <a class="dropdown-item" data-area='EL'><i class="fas fa-bolt"></i> Elétrica</a>
        <a class="dropdown-item" data-area='MC'><i class="fas fa-cogs"></i> Mecânica</a>
        <a class="dropdown-item" data-area='CP'><i class="fas fa-code"></i> Computação</a>
        <a class="dropdown-item" data-area='DM'><i class="fas fa-paint-brush"></i> Design e Marketing</a>
        <a class="dropdown-item" data-area='AF'><i class="fas fa-handshake"></i> Administrativo e Financeiro</a>
        <a class="dropdown-item" data-area='all'>Todas</a>
    </div>
</li>
{% endblock %}

{% block content_block %}

<div id="member-row" class="row">
    {% for member in members_list %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2" data-area="{{ member.area }}">
        <div class="card card-body text-center mx-2 my-2">
            <div class="member-photo mx-auto my-3" data-src="{{ member.picture.url }}">
            {% comment %} <div class="member-photo mx-auto my-3" style="background-image: url({{ member.picture.url }})"> {% endcomment %}
                <div class="area-badge
                    {% if member.team_captain %}
                    tcap
                    {% elif member.area_captain %}
                    acap
                    {% endif %}
                    ">
                    {% if member.team_captain %}
                    <i class="fas fa-copyright fa-2x"></i>
                    {% elif member.area == 'EL' %}
                    <i class="fas fa-bolt fa-2x"></i>
                    {% elif member.area == 'MC' %}
                    <i class="fas fa-cogs fa-2x"></i>
                    {% elif member.area == 'CP' %}
                    <i class="fas fa-code fa-2x"></i>
                    {% elif member.area == 'DM' %}
                    <i class="fas fa-paint-brush fa-2x"></i>
                    {% elif member.area == 'AF' %}
                    <i class="fas fa-handshake fa-2x"></i>
                    {% endif %}
                </div>
            </div>
            <h3 class="h3-responsive font-bold">{{ member.nickname }}</h3>
            <p class="text-muted mb-0">{{ member.name }}</h2>
            <div class="card-hover card-body w-100 h-100 d-flex flex-column">
                <h3 class="h3-responsive font-bold">{{ member.nickname }}</h3>
                <p class="text-muted mb-0">{{ member.name }}</h2>
                <p>Ano de Ingresso: {{ member.entry_year }}</p>
                <p>
                    {% if member.area == 'EL' %}
                    <i class="fas fa-bolt"></i>
                    {% elif member.area == 'MC' %}
                    <i class="fas fa-cogs"></i>
                    {% elif member.area == 'CP' %}
                    <i class="fas fa-code"></i>
                    {% elif member.area == 'DM' %}
                    <i class="fas fa-paint-brush"></i>
                    {% elif member.area == 'AF' %}
                    <i class="fas fa-handshake"></i>
                    {% endif %}
                    {{ member.get_area_display }}
                </p>
                {% if member.team_captain %}
                <strong>Capitão Geral</strong>
                {% endif %}
                {% if member.area_captain %}
                <em>Capitã(o) de Área</em>
                {% endif %}
                <div class="social d-flex flex-row mt-auto">
                    {% if member.facebook %}
                    <a href="{{ member.facebook }}" class="mr-2"><i class="fab fa-facebook fa-2x"></i></a>
                    {% endif %}
                    {% if member.email %}
                    <a href="mailto:{{ member.email }}"  class="mr-2"><i class="fas fa-envelope fa-2x"></i></a>
                    {% endif %}
                    {% if member.github %}
                    <a href="{{ member.github }}"><i class="fab fa-github fa-2x"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
