<!DOCTYPE html>

{% load compress %}
{% load staticfiles %}

<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title_block %}{% endblock %}</title>

        {% compress js %}
        <script src="{% static 'landing/js/fontawesome-all.js' %}"></script>
        <script src="{% static 'landing/js/jquery-3.2.1.js' %}"></script>
        {% endcompress %}

        <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Lato" rel="stylesheet">

        {% compress css %}
        <link rel="stylesheet" href="{% static 'generic/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'generic/css/mdb.css' %}">
        <link rel="stylesheet" href="{% static 'landing/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'generic/css/slick-theme.css' %}">
        <link rel="stylesheet" href="{% static 'projects/css/lightbox.css' %}">

        <link rel="stylesheet" type="text/x-sass" href="{% static 'projects/.scss/projects.scss' %}">
        {% endcompress %}
    </head>
    <body>
        {% block body_block %}
        {% endblock %}

        {% compress js %}
        <script src="{% static 'generic/js/popper.min.js' %}"></script>
        <script src="{% static 'generic/js/bootstrap.js' %}"></script>
        <script src="{% static 'generic/js/mdb.js' %}"></script>
        <script src="{% static 'landing/js/slick.min.js' %}"></script>
        <script src="{% static 'projects/js/lightbox.js' %}"></script>

        <script src="{% static 'projects/js/projects.js' %}"></script>
        {% endcompress %}
    </body>
</html>
