{% extends 'projects/base.html' %}
{% load staticfiles %}

{% block title_block %}ThundeRatz | Projects{% endblock%}

{% block body_block %}
<section id="project_list" class="container-fluid px-0">
    <div class="top view hm-black-strong">
        <img src="{% static 'projects/img/cover.png' %}" class="img-fluid"></img>
        <div class="mask waves-effect waves-light">
            <h1 class="title white-text">Projetos</h1>
        </div>
    </div>

    <div class="content z-depth-4 mx-1 mx-md-4 mx-lg-5">
        <nav class="navbar navbar-expand-md navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="categories-menu" class="navbar-nav mr-auto">
                    <li class="nav-item" data-cat='combate'>
                        <a class="nav-link">Combate</a>
                    </li>
                    <li class="nav-item" data-cat='sumo'>
                        <a class="nav-link">Sumo</a>
                    </li>
                    <li class="nav-item" data-cat='autonomo'>
                        <a class="nav-link">Autonomo</a>
                    </li>
                    <li class="nav-item" data-cat='hockey'>
                        <a class="nav-link">Hockey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Todos</a>
                    </li>
                </ul>
            </div>

            <form class="form-inline">
                <input id="project-search" class="form-control mr-sm-2" type="text" placeholder="Procurar em Todos" aria-label="Search">
            </form>
        </nav>

        <div id="project-row" class="row">
            {% for project in project_list %}
            {% if project.is_active %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-name="{{ project.name }}" data-cat="{{ project.category.super_category }}">
                <div class="card bg-dark my-2 mx-2">
                    <div style="background-image: url({{ project.thumbnail.url }});" class="card-img"></div>
                    <div class="text-white d-flex flex-column justify-content-around align-items-center card-img-overlay">
                        <h3 class="mb-0 card-title">{{ project.name }}</h3>

                        <a class="surprise btn" href="{% url 'projects:detail' project.pk %}">
                            Ver projeto
                        </a>

                        <div class="surprise d-flex w-100 justify-content-around">
                            <p>{{ project.category.super_category | title }}</p>
                            <p>Ativo</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% for project in project_list %}
            {% if not project.is_active %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-name="{{ project.name }}" data-cat="{{ project.category.super_category }}">
                <div class="card bg-dark my-2 mx-2">
                    <div style="background-image: url({{ project.thumbnail.url }});" class="card-img"></div>
                    <div class="text-white d-flex flex-column justify-content-around align-items-center card-img-overlay">
                        <h3 class="mb-0 card-title">{{ project.name }}</h3>

                        <a class="surprise btn btn-blue" href="{% url 'projects:detail' project.pk %}">
                            Ver projeto
                        </a>

                        <div class="surprise d-flex w-100 justify-content-around">
                            <p>{{ project.category.super_category | title }}</p>
                            <p>Inativo</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
