{% extends 'projects/base.html' %}

{% load staticfiles %}

{% block title_block %}ThundeRatz | Projetos{% endblock %}

{% block side_block %}

<div class="d-flex flex-column flex-nowrap align-items-stretch side-content">
    <div class="d-flex flex-row flex-wrap justify-content-between header">
        <img class="navbar-brand" src="{% static 'landing/img/logo.svg' %}" height="40px"></a>
        <a class="align-self-center" href="{% url 'landing:index' %}"><i class="fas fa-home"></i>&nbsp;Home</a>
    </div>
    <div class="image-container" style="background-image: url('http://via.placeholder.com/1200x1000')">
    </div>
    <h1>{{ cat | title }}</h1>
    <ul class="nav flex-column">
        {% for sub in subcat %}
        <a class="nav-item nav-link">{{ sub.name }}</a>
        {% endfor %}
    </ul>
</div>

{% endblock %}


{% block content_block %}

<h2>Projetos Atuais</h2>
<div class="row align-items-stretch">
    {% for project in project_list %}
        {% if project.is_active %}
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card">
                <div style="background-image: url({{ project.logo.url }});" class="card-img-top"></div>
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="card-text">{{ project.name }}</span>
                        <a href="{% url 'projects:detail' project.pk %}"><button type="button" class="btn btn-sm btn-outline-primary">Ver</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<h2>Projetos Antigos</h2>
<div class="row">
    {% for project in project_list %}
        {% if not project.is_active %}
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card">
                <div style="background-image: url({{ project.logo.url }});" class="card-img-top"></div>
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="card-text">{{ project.name }}</span>
                        <a href="{% url 'projects:detail' project.pk %}"><button type="button" class="btn btn-sm btn-outline-primary">Ver</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
