{% extends 'projects/base.html' %}

{% block title_block %}ThundeRatz | {{ project.name }}{% endblock %}


{% block body_block %}
<h1>{{ project.name }}</h1>

<ul>
<li>{{ project.name }}</li>
<li>{{ project.category }} - {{ project.category.super_category.name }}</li>
<img src="{{ project.logo.url }}">
<img src="{{ project.typography.url }}">
<img src="{{ project.thumbnail.url }}">
<li>{{ project.debut_year }}</li>
<li>{{ project.gold }} | {{ project.silver }} | {{ project.bronze }}</li>
<li>{{ project.description | safe }}</li>
<li>{{ project.is_active }}</li>
</ul>
{% endblock %}
