{% extends 'projects/projects_base.html' %}
{% load staticfiles %}

{% block title_block %}ThundeRatz | {{ project.name }}{% endblock %}

{% block top_image_block %}{{ project.cover_image.url }}{% endblock %}
{% block top_title_block %}<img src="{{ project.typography.url }}" class="typography">{% endblock %}

{% block nav_block %}
<a href="{% url 'landing:index' %}" class="nav-link nav-item nav-special">In&iacute;cio</a>
<a href="{% url 'projects:robots' %}"class="nav-link nav-item nav-special">Lista de Projetos</a>
<a id="contact-button" class="nav-link nav-item nav-special">Contato</a>
{% endblock %}

{% block content_block %}
<div class="row">
    <div class="col-md-3" id="left-info-wrapper">
        <div id="left-info" class="z-depth-2 mr-3 mr-md-0 ml-3 my-3"
            {% if project.is_active %}
            style='background-image: url("{% static 'projects/img/background1.png' %}")'
            {% else %}
            style='background-image: url("{% static 'projects/img/background1-velhos.png' %}")'
            {% endif %}
        >
            <div style='background-image: url("{{ project.card_image.url }}")' class="thumbnail mx-auto pt-2"></div>
            <div class="card-body">
                <div class="d-flex flex-column px-2">
                    <div class="row">
                        <div class="font-bold">Categoria</div>
                        <div class="ml-auto">{{ project.category }}</div>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <div class="font-bold">Estreia</div>
                        <div class="ml-auto">{{ project.debut_year }}</div>
                    </div>
                    <div class="line"></div>
                    {% if project.bold.nickname %}
                    <div class="row">
                        <div class="font-bold">Respons&aacute;vel</div>
                        <div class="ml-auto"><a href="{% url 'members:members_list' %}">{{ project.bold.nickname }}</a></div>
                    </div>
                    <div class="line"></div>
                    {% endif %}

                    {% for board in project.boards.all %}
                    <div class="row">
                        <div class="font-bold">{% if forloop.first %}Eletr&ocirc;nica{% endif %}</div>
                        <div class="ml-auto"><a href="{% url 'projects:board_detail' board.slug %}">{{ board.name }}</a></div>
                    </div>
                    <div class="line"></div>
                    {% endfor %}
                    <div class="row">
                        <span class="col"><i class="fas fa-trophy" style="color: gold"></i>&nbsp;&nbsp;{{ project.gold }}</span>
                        <span class="col"><i class="fas fa-trophy" style="color: silver"></i>&nbsp;&nbsp;{{ project.silver }}</span>
                        <span class="col"><i class="fas fa-trophy" style="color: brown"></i>&nbsp;&nbsp;{{ project.bronze }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="d-block w-100 p-3 text-justify">
            <h1>{{ project.name }}</h1>

            <hr>

            {{ project.description | safe }}

            <hr>

            <div id="project-images-w1" class="d-flex flex-column flex-nowrap justify-content-center mx-auto">
                <div id="project-images-w2">
                    {% for pic in project.pictures.all %}
                    <div>
                        <a href="{{ pic.image.url }}" data-lightbox="project-gallery" data-title="{{ pic.description }}"><div class="image z-depth-1" style='background-image: url("{{ pic.image.url }}");'></div></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'projects/js/projects_detail.js' %}"></script>
{% endblock %}
