#section-lastnews {

    .carousel-img-div {
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: center;
    }

    .btn {
        background-color: $base-color;
        font-size: 1.25rem;
    }
}
