#section-lastnews {
    z-index: 4;

    .slide {
        background-size: cover;
        background-position: center;

        .title {
            font-weight: 500;
            color: $white;
            background-color: rgba(black, .6);
            padding: 1rem 0 4rem 0;
            margin-bottom: 0;
        }
    }

    .last-news-and-button {
        position: absolute;
        z-index: 10;
        top: calc(40px + 1rem);
        // padding-top: 1rem;
        right: 0;
        left: 0;

        .title {
            font-weight: 500;
            color: $white;
            background-color: rgba($base-color, .7);
            padding: 1rem 0;
        }

        .btn {
            background-color: $accent-color;
            color: $base-color !important;
            font-weight: 700;
            border-radius: 10px;
            padding: 0.6rem 1.5rem;
        }
    }

    .fp-slidesNav ul li a span {
        background: $white !important;
    }

    .fp-controlArrow {
        &.fp-prev {
            margin-left: 1.5rem;
        }

        &.fp-next {
            margin-right: 1.5rem;
        }

        @media all and (max-width: 768px) {
            &.fp-prev {
                margin-left: 0.5rem;
            }

            &.fp-next {
                margin-right: 0.5rem;
            }
        }
    }

    .title-wrapper {
        height: 100vh !important;
    }
}
