#section-home {
    background-color: $base-color;

    #thunderlogo {
        height: 65vh;
        width: auto;
        max-width: 90vw;

        & * {
            stroke:#F7E901;
            fill: #F7E901;
            fill-opacity: 0;
            transition: stroke-width 0.8s ease-in-out, fill-opacity 1s ease-in-out;
        }

        &.finished * {
            stroke-width: 0;
            fill-opacity: 1;
        }
    }

    #section-buttons {
        width: 100%;
        position: absolute;
        bottom: 0;
        transition: opacity 1s ease;
        border-top: 2px solid $white;

        .btn {
            padding: 0.5rem 2rem;
            font-family: 'Fira Sans', 'Lato', sans-serif;
            font-size: 1.75rem;
            line-height: 2;
            border-radius: 0;

            background-color: $base-color;
            color: $white;
            box-shadow: unset;

            &:hover {
                background-color: $white;
                color: $base-color !important;
            }
        }

        &.hidden {
            opacity: 0;
        }
    }
}

@media (max-width: 768px) {
    #section-home {
        #section-buttons {
            display: none !important;
        }
    }
}
