#section-adt {
    #adt {
        background-color: lighten($base-color, 50%);

        .row {
            height: calc(100vh - 40px - 1rem);
        }

        @media (min-width: 768px) {
            .row {
                height: unset;
                margin-top: 0;

                #adt-info, #adt-buttons {
                    height: 100vh;
                }
            }
        }

        #doacoes {
            flex: 0 0 65%;
        }

        #doacoes-imgs {
            flex: 0 0 35%;
        }

        #doe1 {
            width: 100%;
            background-color: lighten($base-color, 15%);
            cursor: pointer;
            font-size: 8em;
            color: white;
            padding: 2rem 0;

            &:hover {
                background-color: lighten($base-color, 10%);
            }
        }

        #adt-info {
            padding-top: calc(40px + 1rem);

            background-color: $white;
        }

        #adt-buttons {
            padding-top: calc(40px + 1rem);

            background-color: $base-color;
            color: $white;

            #adt-description {
                font-size: 1.3em;
                text-align: justify !important;
                text-align-last: center;
            }
        }
    }
}
