#section-about {
    .carousel-img-div {
        padding-bottom: 70%;
        background-size: cover;
        background-position: center;
    }

    .btn {
        background-color: $base-color;
        font-size: 1.25rem;
    }
}
