#section-adt {
    #adt {
        background-color: lighten($base-color, 50%);

        @media all and (min-width: 768px) {
            .row {
                height: unset;
                margin-top: 0;

                #adt-info, #adt-buttons {
                    height: 100vh;
                }
            }
        }

        #doacoes {
            // padding: 0 3rem;
            margin-top: calc(40px + 1rem);
            flex: 5;

            @media all and (max-width: 767px) {
                flex: unset;
                margin: 1rem 0;
            }

            img {
                max-height: calc((100vh - 40px - 1rem)/2 - 3rem);
            }
        }

        #doacoes-any {
            flex: 2;

            @media all and (max-width: 767px) {
                flex: unset;
            }
        }


        #doacoes-imgs {
            img {
                padding: 0 12rem;

                @media all and (max-width: 1340px) {
                    padding: 0 10rem;
                }

                @media all and (max-width: 1200px) {
                    padding: 0 6rem;
                }

                @media all and (max-width: 1000px) {
                    padding: 0 4rem;
                }

                @media all and (max-width: 800) {
                    padding: 0 3rem;
                }
            }

            @media all and (min-width: 768px) {
                flex: 3;

                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        #doe1 {
            width: 100%;
            background-color: lighten($base-color, 15%);
            cursor: pointer;
            color: white;
            padding: 1rem 0;

            font-size: 3rem;

            @media all and (max-width: 1200px) {
                font-size: 2.5rem;
            }

            @media all and (max-width: 992px) {
                font-size: 2rem;
            }

            @media all and (max-width: 767px) {
                font-size: 2.5rem;
            }

            @media all and (max-width: 700px) {
                font-size: 1.8rem;
            }

            @media all and (max-width: 410px) {
                font-size: 1.2rem;
            }

            &:hover {
                background-color: lighten($base-color, 10%);
            }
        }

        #adt-buttons {
            background-color: $white;
        }

        #adt-info {
            @media all and (min-width: 768px) {
                padding-top: calc(40px + 1rem);
            }

            background-color: $base-color;
            color: $white;

            #adt-logo {
                padding: 3rem;

                @media all and (max-width: 1550px) {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                }

                @media all and (max-width: 1370px) {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }

            #adt-description {
                padding: 0 3rem;
                font-size: 1.6rem;

                @media all and (max-width: 1550px) {
                    font-size: 1.4rem;
                    padding: 0 2rem;
                }

                @media all and (max-width: 1370px) {
                    font-size: 1.15rem;
                    padding: 0 1.5rem;
                }

                @media all and (max-width: 992px) {
                    font-size: 1.1rem;
                    padding: 0 1rem;
                }

                @media all and (max-width: 767px) {
                    font-size: 1.1rem;
                    padding: 0 1rem 1rem 1rem;
                }

                text-align: justify !important;
                text-align-last: center;
            }
        }
    }
}
