#section-sponsors {
    #sponsors {
        width: 100%;
        height: calc(100vh - 40px - 1rem);
        position: absolute;
        bottom: 0;

        #sponsors-gold-w1 {
            width: 100%;
            height: 40%;

            #sponsors-gold-w2 {
                .slick-slide {
                    div {
                        height: calc(0.9 * 0.4 * (100vh - 40px - 1rem));
                        width: calc(330 / 250 * 0.9 * 0.4 * (100vh - 40px - 1rem));
                        margin: 0 auto;

                        background: {
                            position: center;
                            size: contain;
                            repeat: no-repeat;
                        }
                    }
                }
            }
        }

        #sponsors-silver-w1 {
            width: 100%;
            height: 35%;

            #sponsors-silver-w2 {
                .slick-slide {
                    opacity: 1;
                    transition: opacity 300ms ease-in-out;

                    &.opacidown {
                        opacity: 0;
                    }

                    div {
                        height: calc(0.9 * 0.35 * (100vh - 40px - 1rem));
                        width: calc(250 / 180 * 0.9 * 0.35 * (100vh - 40px - 1rem));
                        margin: 0 auto;

                        background: {
                            position: center;
                            size: contain;
                            repeat: no-repeat;
                        }
                    }
                }
            }

        }

        #sponsors-bronze-w1 {
            width: 100%;
            height: 25%;

            #sponsors-bronze-w2 {
                .slick-slide {
                    opacity: 1;
                    transition: opacity 300ms ease-in-out;

                    &.opacidown {
                        opacity: 0;
                    }

                    div {
                        height: calc(0.9 * 0.25 * (100vh - 40px - 1rem));
                        width: calc(230 / 160 * 0.9 * 0.25 * (100vh - 40px - 1rem));
                        margin: 0 auto;

                        background: {
                            position: center;
                            size: contain;
                            repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }
}
