$base-color: #11204C;
$accent-color: #F7E901;
$white: #FFFFFF;

@import 'general';
@import 'header';
@import 'section-home';
@import 'section-lastnews';
@import 'section-team';
@import 'section-projects';
@import 'section-adt';
@import 'section-sponsors';
@import 'timeline';
